.fp-main {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/images/photo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0)
}

.fp-section {
    display: grid;
}

.fp-form {
    padding: 1rem;
    border-radius: 1rem;
    background-color: whitesmoke;
}

.fp-link {
    font-size: small;
    font-style: italic;
}

.fp-label {
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.fp-form-item {
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
}

.fp-form-input {
    padding: 0.5rem;
    border-width: 0.1rem;
    border-color: black;
}

.fp-submit {
    padding: 0.5rem;
    background-color: #333333;
    color: #F5D16D;
    border-width: 0.1rem;
    border-color: #F5D16D;
}

.fp-submit:hover {
    cursor: pointer;
    background-color: #F5D16D;
    color: #333333;
    border-width: 0.1rem;
    border-color: black;
}