.dropdown-menu {
  width: 250px;
  position: absolute;
  top: 100%; /* Position below the parent element */
  left: 0;
  list-style: none;
}
  .dropdown-menu li {
    background: #FFBF00;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: black;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }